@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (isAuthenticated)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            <RedirectToLogin />
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var usuario = await SessionStorage.GetItemAsync<string>("usuario");
        isAuthenticated = !string.IsNullOrEmpty(usuario);

        if (!isAuthenticated)
        {
            Navigation.NavigateTo("/login");
        }
    }
}
